<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Hopefully Website</title>
  <link rel="stylesheet" type="text/css" href="Hopefully.css">
</head>
<body>
<div class="container">

  <header class="header">
    <div class="title">
    <span class="tree_left">
        <img id="tree_one_left" src="Tree.jpg">
    </span>
    <span class="tree_right">
        <img id="tree_two_right" src="Tree.jpg">
    </span>
    </div>
    <div class="heading_container">
      <div class="heading">
        <h1 id="title_header">
          Trees of the World
        </h1>
      </div>
    </div>
  </header>

  <div class="sub-header">
    <div class="button_container">
      <button class="button">
        Trees in Europe
      </button>
      <button class="button">
        Trees in Asia
      </button>
      <button class="button">
        Trees in the Middle East
      </button>
      <button class="button">
        Trees in USA
      </button>
      <button class="button">
        Trees in South America
      </button>
      <button class="button">
        Trees in Australasia
      </button>
    </div>
  </div>
  <div class="main">
    <div class="map">
      <img id="world_map" src="Map_of_the_World.gif">
    </div>
    <div class="map_introduction_container">
      <div class="map_introduction">
        <p>Welcome</p>
        <p>This website will allow you to search for names of trees from around the world.</p>
        <p>You can use either the map or the links above to search for trees in a specific part of the world.</p>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="holder">

    </div>
  </div>
</div>
</body>
</html>